{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mirettes : trouve l'animal demandé :)</title>
    {% include 'high_ui/style.html' %}
</head>

<body>

<div id='title'>
    <div><img src="{% static "title.png" %}" alt="splash title" width="80%"/></div>
    <div><button class='button' onclick="window.open('{% url 'high_ui:play' %}','_self')">Jouer</button></div>
</div>
<div id="footer">

<script>
    let forrest = new Audio('{% static "forrest.mp3" %}');
    forrest.loop = true;
    forrest.play();

    var instruction = new Audio('{% static instruction_sound %}');
    instruction.play();
</script>

</body>
</html>
